<%- include('../../fragments/header.ejs') %>

<main class="mainParent">
    <div class="leftMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
    <div class="middleMainBlock">
        <p class="form-name">Szczegóły turnieju</p>
        <form class="form">
            <div class="form-group">
                <label for="mname">Nazwa meczu:</label>
                <input type="text" id="mname" name="mname" value="The Big Brain Cup" readonly><br><br>
                <label for="fund">Fundusz nagród:</label>
                <input type="text" id="fund" name="fund" value="20000" readonly><br><br>
                <label for="sname">Sponsor:</label>
                <input type="text" id="sname" name="sname" value="PJATK" readonly><br><br>
                <laber for="date-start">Data rozpoczęcia</laber>
                <input type="datetime-local" id="date-start" value="2020-06-12T16:30" readonly>
                <laber for="date-end">Data ukończenia</laber>
                <input type="datetime-local" id="date-end" value="2020-06-12T20:30" readonly>
            </div>
            <p class="form-name">Uczęstnicy</p>
            <table class="mainTable">
                <thead>
                <tr>
                    <th>Pseudonim</th>
                    <th>Miejsce</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>The Big Brain Cup</td>
                    <td>4</td>
                </tr>
                </tbody>
            </table>
            <div class="form-buttons">
                <a href="../tournaments" class="form-button-cancel">Powróć</a>
            </div>
        </form>
    </div>
    <div class="rightMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
</main>
<%- include('../../fragments/footer.ejs') %>