<%- include('../../fragments/header.ejs') %>

<main class="mainParent">
    <div class="leftMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
    <div class="middleMainBlock">
        <p class="form-name"><%=pageTitle%></p>
        <form class="form" method="post" action="<%= formAction %>">
            <div class="form-group">
                <label for="name">Nazwa meczu:</label>
                <input type="text" id="name" name="name" required><br><br>
                <label for="fund">Fundusz nagród:</label>
                <input type="number" id="fund" name="fund" required><br><br>
                <label for="sponsor">Sponsor:</label>
                <input type="text" id="sponsor" name="sponsor"><br><br>
                <label for="startDate">Data rozpoczęcia</label>
                <input type="datetime-local" id="startDate" required><br><br>
                <label for="endDate">Data ukończenia</label>
                <input type="datetime-local" id="endDate">
            </div>
            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit">
                <a href="/tournaments" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </div>
    <div class="rightMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
</main>
<%- include('../../fragments/footer.ejs') %>
