<%- include('../../fragments/header.ejs') %>

<main class="mainParent">
    <div class="leftMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
    <div class="middleMainBlock">
        <p class="form-name">Edycja gracza</p>
        <form class="form">
            <div class="form-group">
                <label for="name">Pseudonim:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="rating">Rating:</label>
                <input type="number" id="rating" name="rating"><br><br>
                <label for="coins">Ilość monet:</label>
                <input type="number" id="coins" name="coins"><br><br>
                <label for="mail">Email:</label>
                <input type="text" id="mail" name="mail"><br><br>
                <label for="roles">Rola:</label>
                <select id="roles">
                    <option>Gracz</option>
                    <option>VIP-Gracz</option>
                    <option>Moderator</option>
                </select>
            </div>
            <div class="form-buttons">
                <input type="submit" value="Edytuj" class="form-button-submit">
                <a href="../../players" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </div>
    <div class="rightMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>
