<%- include('../../fragments/header.ejs') %>

<main class="mainParent">
    <div class="leftMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
    <div class="middleMainBlock">
        <table class="mainTable">
            <thead>
            <tr>
                <th>Pseudonim</th>
                <th>Rating</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>X Æ A-12</td>
                <td>8000</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="players/details" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="players/edit" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="button-add-container"><a href="players/form" class="button-add">Dodaj nowego gracza</a>
        </p>
    </div>
    <div class="rightMainBlock">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non nobis tempore, cumque asperiores
        necessitatibus, suscipit consectetur modi optio voluptatum quae vitae facere beatae! Totam minus dicta omnis ea
        quam.
    </div>
</main>
<%- include('../../fragments/footer.ejs') %>