<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberWolf</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="upperNav">
    <img src="/img/CyberwolfLogo.png" alt="CyberWolf Logo" width="150px" height="150px">
    <h1><span style="color: white;">Cyber</span><span style="color: red;">Wolf</span></h1>
    <nav class="upperNav">
        <ul class="upperNavUl">
            <li class="active"><a href="/">Strona główna</a></li>
            <li><a href="/player">Gracze</a></li>
            <li><a href="/player-tournament">Uczęstnicy</a></li>
            <li><a href="/tournament">Turnieje</a></li>
        </ul>
    </nav>
</header>