<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberWolf</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>
<body>
<header class="upperNav">
    <img src="/img/CyberwolfLogo.png" alt="CyberWolf Logo" width="150px" height="150px">
    <h1><span style="color: white;">Cyber</span><span style="color: red;">Wolf</span></h1>
    <nav class="upperNav">
        <ul class="upperNavUl">
            <li class="<%= navLocation === 'main' ? 'active' : ''%>"><a href="/">Strona główna</a></li>
            <li class="<%= navLocation === 'player' ? 'active' : ''%>"><a href="/players">Gracze</a></li>
            <li class="<%= navLocation === 'participation' ? 'active' : ''%>"><a href="/participations">Uczęstnicy</a></li>
            <li class="<%= navLocation === 'tournament' ? 'active' : ''%>"><a href="/tournaments">Turnieje</a></li>
        </ul>
    </nav>
</header>
